<% provide :title, t("provide.categories") %>
<h1><%= t "provide.categories" %></h1>
<div class="category">
  <div>
    <h2>
      <%= t "title.category_name", category_name: @category.name %>
    </h2>
    <h3>
      <%= t "title.description", description: @category.description %>
    </h3>
  </div>
  <%= link_to t("btn.delete"), [:admin, @category], method: :delete,
    data: {confirm: t("confirm.delete")}, class: "btn btn-danger" %>
  <br>
  <%= link_to t("btn.create_question"), new_admin_question_path(category_id: @category.id),
    class: "btn btn-primary" %>
</div>

<div class="col-md-6 col-md-offset-3 questions">
  <div class="center">
    <%= form_tag [:admin, @category], method: :get do %>
      <%= text_field_tag :search_name, params[:search_name],
        placeholder: t("title.search_name") %>
      <%= submit_tag t("btn.search"), class: "btn btn-primary" %>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead class="thead_table_word">
      <tr>
        <td><%= t "question.name" %></td>
        <td><%= t "question.type" %></td>
      </tr>
    </thead>
    <tbody>
      <% if @questions.any? %>
        <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.content, edit_admin_question_path(question,
              category_id: @category.id) %></td>
            <td><%= question.question_type %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
